extends layout

block content
  h2 Hello #{username}!
  p Welcome to your AeroFitness Dashboard.

  ul
    li View your exercise history
    li Check your diet records
    li Manage your goals
    li Join user groups
