extends layout

block content
  h1 Hello, #{username}!
  p Email: #{email}
  hr
  h2 Your BMI: #{bmi}
  p #{feedback}


  ul
    li View your exercise history
    li Check your diet records
    li Manage your goals
    li Join user groups
