extends layout

block content
  .exercise-card.mx-auto
    h2.text-center.mb-4 Exercise Plan

    form#exerciseForm(class="mb-3")
      .mb-3
        label.form-label(for="exerciseInput") Exercise Name
        input.form-control(type="text", id="exerciseInput", placeholder="e.g. Push-ups")
      button.btn.btn-success(type="submit") Add Exercise

    hr
    h4.mt-4 Active Exercises
    input.form-control.mb-3(type="text", id="exerciseSearch", placeholder="Search...")

    ul#exerciseList.list-group

  script(src="/scripts/exercise.js")
