extends layout

block content
  .container.mt-5
    h2.text-center.mb-4 Group Management

    h4.mb-3 Create Group
    form#createForm.mb-4
      .mb-3
        label.form-label(for="groupName") Name
        input#groupName.form-control(type="text" placeholder="e.g. FitnessClub")
      button.btn.btn-primary(type="submit") Create

    h4.mb-3 Join Group
    form#joinForm.mb-4
      .mb-3
        label.form-label(for="inviteCode") Code
        input#inviteCode.form-control(type="text" placeholder="Enter code")
      button.btn.btn-success(type="submit") Join

    hr
    h5.text-muted My Groups
    ul#myGroups.list-group.mb-3

    button#leaveGroupBtn.btn.btn-warning(type="button" disabled) Leave
    button#deleteGroupBtn.btn.btn-danger.ml-2(type="button" disabled) Delete

    hr
    h5.text-muted Members
    ul#memberList.list-group

  script(src="/scripts/group.js")
