
extends layout

block content
  .container.mt-5
    h2.text-center.mb-4 Group Management

    .row.g-4
     
      .col-md-6
        .card.shadow-sm
          .card-body
            h5.card-title.mb-3 🆕 Create a Group
            form#createForm.d-flex
              input#groupName.form-control(type="text" placeholder="e.g. FitnessClub")
              button.btn.btn-primary.ms-2(type="submit")
                | Create

     
      .col-md-6
        .card.shadow-sm
          .card-body
            h5.card-title.mb-3 🔗 Join a Group
            form#joinForm.d-flex
              input#groupIdentifier.form-control(type="text" placeholder="Name or code")
              button.btn.btn-success.ms-2(type="submit")
                | Join

   
    .card.shadow-sm.mt-4
      .card-body
        h5.card-title.mb-3 My Groups
        ul#myGroups.list-group.mb-3(style="max-height:200px; overflow-y:auto;")
          
        .d-flex.justify-content-end.g-2
          button#leaveGroupBtn.btn.btn-warning(type="button" disabled)  
            | Leave
          button#deleteGroupBtn.btn.btn-danger(type="button" disabled)  
            | Delete

    
    .card.shadow-sm.mt-4
      .card-body
        h5.card-title.mb-3 Members
        ul#memberList.list-group
          

  script(src="/scripts/group.js")
