extends layout

block content
  .login-card.mx-auto
    h2.text-center.mb-4 Sign Up for Health Tracker

    form#registerForm(class="mb-3" action="/api/auth/register" method="POST")
      .mb-3
        label.form-label(for="username") Username
        input.form-control(type="text", name="username", id="username", required)

      .mb-3
        label.form-label(for="name") Full Name
        input.form-control(type="text", name="name", id="name", required)

      .mb-3
        label.form-label(for="email") Email address
        input.form-control(type="email", name="email", id="email", required)

      .mb-3
        label.form-label(for="height") Height (cm)
        input.form-control(type="number", name="height", id="height", required)

      .mb-3
        label.form-label(for="weight") Weight (kg)
        input.form-control(type="number", name="weight", id="weight", required)

      .mb-3
        label.form-label(for="targetWeight") Target Weight (kg) (Optional)
        input.form-control(type="number", name="targetWeight", id="targetWeight")

      button.btn.btn-dark.w-100(type="submit") Sign Up

    p.text-center.mt-3.text-muted Already have an account? 
      a(href="/login") Log in
